<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:3000/sign_in"><img src="images/chicken.png" alt="chicken logo" width="75px" height="50px"></a>
    <nav>
        <button type="button" class="btn btn-secondary" style="margin-right: 1em;"><a style="color: white; text-decoration: none;" href="#">Cluck!</a></button>
        <button type="button" class="btn btn-secondary"><a style="color: white; text-decoration: none;" href="#">Sign in</a></button>
    </nav>
    
